@media screen and (max-width: 415px) {
 
  
  .main-con{
   header{
    display: flex;
    justify-content: space-between;
    .bg-1{
      width: 100% !important;
      display: flex !important;
      .head-left{

      }
      .head-right{
        padding-right: 0px !important;
      }
    }
   }

   .contact {
    width: 95% !important;
    max-width: 500px !important;
    padding: 30px 20px !important;
    margin: 30px auto 50px !important;
  
    .form-group {
      margin-bottom: 20px !important;
  
      input, textarea {
        padding: 12px 15px !important;
        font-size: 16px !important;
        border-radius: 10px !important;
      }
  
      textarea {
        min-height: 100px !important;
      }
    }
  
    button {
      padding: 12px 30px !important;
      font-size: 16px !important;
      min-width: 120px !important;
    }
  }

   

  }


  .projects-sec {
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    padding: 0 1rem !important;
    
    .project {
      display: flex !important;
      flex-direction: column !important;
      flex-wrap: wrap !important;
      margin: 30px 0 !important;
      padding: 0 !important;
      width: 100% !important;
      
      .details {
        height: auto !important;
        width: 100% !important;
        padding: 0 1rem !important;
        margin-top: 20px !important;
        
        .project-head {
          font-size: 24px !important;
          font-weight: 700 !important;
          text-align: center !important;
          margin: 15px 0 !important;
        }
        
        .project-text {
          text-align: center !important;
          margin: 15px 0 !important;
          font-size: 16px !important;
          font-weight: 400 !important;
          line-height: 1.6 !important;
        }
        
        .technologies {
          justify-content: center !important;
          margin: 20px 0 !important;
        }
        
        .btn {
          margin: 20px auto !important;
          max-width: 200px !important;
        }
      }
      
      img {
        width: 100% !important;
        max-width: 400px !important;
        height: auto !important;
        margin: 0 auto !important;
        display: block !important;
      }
    }
  }
  


  footer {
    // display: flex;
    min-height: 40vh;
    height: auto;
    background-color: black;
    color: white;
    width: 100% !important;
  
  
    .con1,
    .con2 {
      width: auto;
      min-width: 45%;
      padding: 1rem 2rem !important;
  
      .heading {
        font-size: 24px;
        text-align: start;
        margin-bottom: 0;
      }
    }
  
    .con2 {
      display: flex;
      justify-content: flex-start !important;
      margin-bottom: 79px !important;
  
   
  
      .bg-1-social {
        position: relative;
        top: 10%;
        left: 0;
        background: black;
        box-shadow: rgba(119, 119, 131, 0.411) 1px 1px 40px 4px;
        display: flex;
        cursor: pointer;
        border-radius: 10px;
  
        .social {
          margin: 0 10px;
         
          
        }
  
        .social {
          transform: scale(1.2) !important;
          padding: 0.5rem !important;
          cursor: pointer;
        }
    
        > div i:hover {
          transform: scale(1.2);
          transition: all 0.2s linear;
          // box-shadow: 1px 1px 10px 0px white; 
        }
      }
    }
  
    .con1 .text {
      font-size: 1rem;
      text-align: start;
      line-height: 2;
      letter-spacing: 0;
      padding-right: 0px !important;
    }
  }

}
@media screen and (min-width: 416px) and (max-width: 450px) {
 
  
  .main-con{
   header{
    display: flex;
    justify-content: space-between;
    .bg-1{
      width: 100% !important;
      display: flex !important;
      .head-left{

      }
      .head-right{
        padding-right: 0px !important;
      }
    }
   }
   .contact {
    width: 95% !important;
    max-width: 500px !important;
    padding: 30px 20px !important;
    margin: 30px auto 50px !important;
  
    .form-group {
      margin-bottom: 20px !important;
  
      input, textarea {
        padding: 12px 15px !important;
        font-size: 16px !important;
        border-radius: 10px !important;
      }
  
      textarea {
        min-height: 100px !important;
      }
    }
  
    button {
      padding: 12px 30px !important;
      font-size: 16px !important;
      min-width: 120px !important;
    }
  }

   

  }


  .projects-sec {
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    padding: 0 1rem !important;
    
    .project {
      display: flex !important;
      flex-direction: column !important;
      flex-wrap: wrap !important;
      margin: 30px 0 !important;
      padding: 0 !important;
      width: 100% !important;
      
      .details {
        height: auto !important;
        width: 100% !important;
        padding: 0 1rem !important;
        margin-top: 20px !important;
        
        .project-head {
          font-size: 24px !important;
          font-weight: 700 !important;
          text-align: center !important;
          margin: 15px 0 !important;
        }
        
        .project-text {
          text-align: center !important;
          margin: 15px 0 !important;
          font-size: 16px !important;
          font-weight: 400 !important;
          line-height: 1.6 !important;
        }
        
        .technologies {
          justify-content: center !important;
          margin: 20px 0 !important;
        }
        
        .btn {
          margin: 20px auto !important;
          max-width: 200px !important;
        }
      }
      
      img {
        width: 100% !important;
        max-width: 400px !important;
        height: auto !important;
        margin: 0 auto !important;
        display: block !important;
      }
    }
  }
  


  footer {
    // display: flex;
    min-height: 40vh;
    height: auto;
    background-color: black;
    color: white;
    width: 100% !important;
  
  
    .con1,
    .con2 {
      width: auto;
      min-width: 45%;
      padding: 5rem 4rem;
  
      .heading {
        font-size: 24px;
        text-align: start;
        margin-bottom: 0;
      }
    }
  
    .con2 {
      display: flex;
      justify-content: flex-start !important;
  
   
  
      .bg-1-social {
        position: relative;
        top: 10%;
        left: 0;
        background: black;
        box-shadow: rgba(119, 119, 131, 0.411) 1px 1px 40px 4px;
        display: flex;
        cursor: pointer;
        border-radius: 10px;
  
        .social {
          margin: 0 10px;
         
          
        }
  
        .social {
          transform: scale(1.2) !important;
          padding: 0.5rem !important;
          cursor: pointer;
        }
    
        > div i:hover {
          transform: scale(1.2);
          transition: all 0.2s linear;
          // box-shadow: 1px 1px 10px 0px white; 
        }
      }
    }
  
    .con1 .text {
      font-size: 1rem;
      text-align: start;
      line-height: 2;
      letter-spacing: 0;
    }
  }

}

@media screen and (min-width: 451px) and  (max-width: 567px) {
 
  
  .main-con{
   header{
    display: flex;
    justify-content: space-between;
    .bg-1{
      width: 100% !important;
      display: flex !important;
      .head-left{

      }
      .head-right{
        padding-right: 0px !important;
      }
    }
   }

   .contact {
    width: 95% !important;
    max-width: 500px !important;
    padding: 30px 20px !important;
    margin: 30px auto 50px !important;
  
    .form-group {
      margin-bottom: 20px !important;
  
      input, textarea {
        padding: 12px 15px !important;
        font-size: 16px !important;
        border-radius: 10px !important;
      }
  
      textarea {
        min-height: 100px !important;
      }
    }
  
    button {
      padding: 12px 30px !important;
      font-size: 16px !important;
      min-width: 120px !important;
    }
  }
  

   

  }


  .projects-sec {
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    padding: 0 1rem !important;
    
    .project {
      display: flex !important;
      flex-direction: column !important;
      flex-wrap: wrap !important;
      margin: 30px 0 !important;
      padding: 0 !important;
      width: 100% !important;
      
      .details {
        height: auto !important;
        width: 100% !important;
        padding: 0 1rem !important;
        margin-top: 20px !important;
        
        .project-head {
          font-size: 24px !important;
          font-weight: 700 !important;
          text-align: center !important;
          margin: 15px 0 !important;
        }
        
        .project-text {
          text-align: center !important;
          margin: 15px 0 !important;
          font-size: 16px !important;
          font-weight: 400 !important;
          line-height: 1.6 !important;
        }
        
        .technologies {
          justify-content: center !important;
          margin: 20px 0 !important;
        }
        
        .btn {
          margin: 20px auto !important;
          max-width: 200px !important;
        }
      }
      
      img {
        width: 100% !important;
        max-width: 400px !important;
        height: auto !important;
        margin: 0 auto !important;
        display: block !important;
      }
    }
  }
  


  footer {
    // display: flex;
    min-height: 40vh;
    height: auto;
    background-color: black;
    color: white;
    width: 100% !important;
  
  
    .con1,
    .con2 {
      width: auto;
      min-width: 45%;
      padding: 5rem 4rem;
  
      .heading {
        font-size: 24px;
        text-align: start;
        margin-bottom: 0;
      }
    }
  
    .con2 {
      display: flex;
      justify-content: flex-start !important;
  
   
  
      .bg-1-social {
        position: relative;
        top: 10%;
        left: 0;
        background: black;
        box-shadow: rgba(119, 119, 131, 0.411) 1px 1px 40px 4px;
        display: flex;
        cursor: pointer;
        border-radius: 10px;
  
        .social {
          margin: 0 10px;
         
          
        }
  
        .social {
          transform: scale(1.2) !important;
          padding: 0.5rem !important;
          cursor: pointer;
        }
    
        > div i:hover {
          transform: scale(1.2);
          transition: all 0.2s linear;
          // box-shadow: 1px 1px 10px 0px white; 
        }
      }
    }
  
    .con1 .text {
      font-size: 1rem;
      text-align: start;
      line-height: 2;
      letter-spacing: 0;
    }
  }

}

@media screen and (min-width: 568px) and  (max-width: 578px) {
  header{
    display: flex;
    justify-content: space-between;
    .bg-1{
      width: 100% !important;
      display: flex !important;
      .head-left{

      }
      .head-right{
        padding-right: 0px !important;
      }
    }
   }

}

@media screen and (max-width: 767px) {
  header {
    padding: 8px 15px !important;
    
    .head-left {
      gap: 1rem !important;
      
      p {
        font-size: 14px !important;
        white-space: nowrap !important;
      }
      
      img {
        width: 40px !important;
        height: 40px !important;
      }
    }
    
    .head-right {
      ul {
        gap: 0 !important;
        
        li a {
          font-size: 14px !important;
          padding: 10px 12px !important;
        }
        
        li .icon {
          font-size: 18px !important;
          padding: 8px 10px !important;
        }
      }
    }
  }
  
  .bg-1 {
    .head-right {
      ul {
        gap: 1rem;
      }
    }
    
    .bg-1-social {
      display: none !important;
    }

    .content {
      width: 90% !important;
      padding: 0 20px !important;

      .text {
        font-size: 16px !important;
        line-height: 1.6 !important;
        margin: 20px 0 !important;
      }
      
      .heading {
        font-size: 32px !important;
        margin: 20px 0 !important;
        line-height: 1.3 !important;
      }
    }

    .head-left {
      gap: 0.8rem !important;
    }
  }
}

  @media screen and (max-width:850px) {
    .bg-1 {
      .head-right {
        ul {
          gap: 0rem !important;
        }
      }
    }
  }
  
  @media screen and (min-width:768px) and (max-width: 900px) {
    .bg-1 {
      .content {
        width: 60% !important;

        .text{
            font-size: 20px !important;
            line-height: 1.6 !important;
            margin: 0px 0px 20px 0px !important;
        }
        .heading {
          font-size: 40px !important;
          margin:  0px !important;
        }
      }
  
      // .head-right {
      //   ul {
      //     gap: 2.5rem !important;
      //   }
      // }
  
      .head-left {
        gap: 0.8rem !important;
      }
    }


  }
  
  @media screen and (min-width: 901px) and (max-width: 1100px) {
    .bg-1 {
      // .head-right {
      //   ul {
      //     gap: 4rem !important;
      //   }
      // }
    }
  }
  
  @media screen and (max-width: 1200px) {
    .bg-1 {
      .content {
        width: 80% !important;
      }
    }

    .project {
      display: flex;
      align-items: center;
      flex-direction: column !important;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 20px 0 !important;
      width:80%;
    
      .details {
        height: auto;
        // width: 40%; 
      }
    
      .project-head {
        font-size: 28px;
        font-weight: 700;
        text-align: start;
        margin: 8px;
      }
    
      .project-text {
        text-align: start;
        margin: 8px;
        font-size: 18px;
        font-weight: 400;
      }
    
      img {
        width: 30rem;
        height: 18rem;
        box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.253);
        margin-top: 25px;
        border-radius: 8px;
      }
    }

    .bg-2 {
      .bg-2-con {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: space-evenly !important;
        padding: 0 1rem !important;
        
        .bg-2-con-1, .bg-2-con-2 {
          width: 100% !important;
          margin: 1rem 0 !important;
          padding: 20px !important;
        }
      
        > div {
          width: 100% !important;
          height: auto !important;
        }
      
        .heading {
          font-size: 24px !important;
          letter-spacing: 0 !important;
          line-height: 1.4 !important;
          text-align: center !important;
          margin: 20px 0 !important;
        }
      
        .text {
          font-size: 16px !important;
          text-align: center !important;
          line-height: 1.6 !important;
        }
        
        .contact-btn {
          position: static !important;
          margin: 20px auto !important;
          display: block !important;
        }
      }
    }

  }
  
  // Optional: Add styles here for very small screens
  @media screen and (max-width: 992px) {
    
         footer {
       display: flex !important;
       flex-direction: column !important;
       min-height: 40vh !important;
       height: auto !important;
       background-color: black !important;
       color: white !important;
       width: 100% !important;
       padding: 0 !important;
     
       .con1,
       .con2 {
         width: 100% !important;
         min-width: 100% !important;
         padding: 2rem 1rem !important;
         text-align: center !important;
     
         .heading {
           font-size: 20px !important;
           text-align: center !important;
           margin-bottom: 15px !important;
         }
       }
     
       .con2 {
         display: flex !important;
         justify-content: center !important;
         padding-bottom: 2rem !important;
     
         .bg-1-social {
           position: relative !important;
           top: 0 !important;
           left: 0 !important;
           background: black !important;
           box-shadow: rgba(119, 119, 131, 0.411) 1px 1px 40px 4px !important;
           display: flex !important;
           cursor: pointer !important;
           border-radius: 10px !important;
           margin: 0 auto !important;
           padding: 10px !important;
     
           .social {
             margin: 0 8px !important;
             transform: scale(1.5) !important;
           }
         }
       }
     
       .con1 {
         padding-top: 2rem !important;
         
         .text {
           font-size: 14px !important;
           text-align: center !important;
           line-height: 1.6 !important;
           letter-spacing: 0 !important;
           margin-top: 1rem !important;
           padding: 0 1rem !important;
         }
       } 
     }

  }
  