@import "./mediaQueries.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Reddit Sans", sans-serif;
}

:root {
  --ylw-font: #EDA911;
  --choco-font: #5A2F27;
  --bg-1-color: #EAE9E4;
}

body {
  color: #112D4E;
}




    .btn {
        background-color: #112D4E;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        max-width: 200px;
        width: 100%;
        height: 50px;
        border-radius: 6px;
        border: none;
        color: white;
        margin: 8px;
        cursor: pointer;
        transition: transform 0.1s ease-out;
        letter-spacing: 5px;
    
        &:hover {
          background-color: #112d4ee5;
          transform: translateY(-2px);
          color: white !important;

        }
      }

      .heading-main {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin: 30px 0;
      }


      // burger for lower screens
      .head-right {
      
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
      
          li {
            a {
              display: block;
              padding: 14px 16px;
              text-decoration: none;
              color: #f2f2f2;
              font-size: 17px;
      
              &:hover {
                background-color: #ddd;
                color: black;
              }
      
              &.active {
                background-color: #04AA6D;
                color: white;
              }
            }
      
            .icon {
              display: none;
            }
          }
        }
      
        &.responsive {
          ul {
            flex-direction: column;
            position: relative;
      
            li {
              a {
                display: block;
                text-align: left;
                width: 100%;
              }
      
              // .icon {
              //   position: absolute;
              //   top: 0;
              //   right: 0;
              //   margin: 20px !important;
              // }
            }
          }
        }
      }
      
      // Responsive media queries
      @media screen and (max-width: 750px) {
        .head-right {
          ul {
            display: flex !important;
            flex-direction: column !important;
            li:not(:first-child) {
              display: none;
            }
      
            li .icon {
              display: block;
              float: right;
            }
          }
      
          &.responsive {
            ul {
              li {
                display: block;
              }
            }
          }
        }
      }
      

header {
  display: flex;
  padding: 10px 0;
  font-weight: 600;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  transition: 1s ease-in-out;
  color: white !important;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  background: black;

  a {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    //   transition: transform 0.1s ease-out;

      &:hover {
        // transform: scale(1.02);
        transition: all 0.2s ease-in-out;
        box-shadow: 1px 1px 20px 0px white;
      }
    }

    // &:hover {
    //   transform: scale(1.05);
    // }
  }

  .head-left,
  .head-right {
    display: flex;
    align-items: center;
    
  }

  .head-left {
    // margin-left: 5rem;
    gap: 2rem;

     p {
      text-decoration: none;
      background: linear-gradient(90deg,yellow 0%, white 100%,yellow 100%);
      background-size: 200%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.5s ease-in-out;
        }
  }

  .head-right {
    // margin-left: 28rem;


    ul,
    .anchor {
      display: flex;
      gap: 1rem;
      list-style: none;
      text-decoration: none;
      margin-bottom: 0 !important;
    }

    ul li a{
      text-decoration: none;
      background: linear-gradient(90deg, yellow 0%, white 100%, yellow 0%);
      background-size: 200%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background-position 0.4s ease-in-out;
    }
  }

  .head-left p:hover,
  .head-right ul li a:hover {
    // text-decoration: wavy;
    // color: yellow !important;
    background-position: 0%;
  }
}

.bg-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

  .content {
    width: 60%;
    text-align: center;
    margin: auto 0;
  }

  .heading {
    font-size: 60px;
    font-weight: 800;
    line-height: 90px;
    text-align: center;
    margin: 30px 0;
  }

  .text {
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin: 30px 0;
  }

  button {
    background-color: #112D4E;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    min-width: 200px;
    height: 50px;
    border-radius: 6px;
    border: none;
    color: white;
    margin: 8px;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    letter-spacing: 5px;

    &:hover {
      background-color: #112d4ee5;
      transform: translateY(-2px);
    }
  }

  .bg-1-social {
    position: absolute;
    top: 35%;
    left: 0;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
    border-radius: 10px;


    .social {
      transform: scale(2);
      padding: 1rem;
      cursor: pointer;
    }

    > div i:hover {
      transform: scale(1.07);
      transition: all 0.2s ease-in-out;
    }
  }
}

.btn1 {
  display: flex;
  position: relative;
  left: -558px;
  margin-bottom: 20px !important;
}

.text {
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin: 30px 0;
}

.bg-2 {
//   height: 70vh;


.contact-btn{
  position: relative;
  left: 6.3%;
}


  > .content > .heading,
  .heading {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 30px 0 20px;
    text-align: center;
  }

  .content .text {
    font: 20px 500;
    margin: 30px 0;
  }
}

.bg-2-con-1,
.bg-2-con-2 {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  padding: 20px;
  border-radius: 16px;

  .text > span {
    font-weight: 700;
  }
}

.bg-2-con-2 .text {
  font-size: 18px;
  background-color: rgba(128, 128, 128, 0.239);
  width: max-content;
  height: max-content;
  padding: 5px 15px;
  margin: 10px;
  font-weight: 600;
  border-radius: 10px;
  letter-spacing: 0;
  text-align: justify;
}

.bg-2-con-2 section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bg-2-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  > div {
    width: 40%;
    height: auto;
  }

  .heading {
    font-size: 28px;
    letter-spacing: 0;
    line-height: 42px;
    text-align: left;
    margin: 20px 0;
  }

  .text {
    font-size: 18px;
    text-align: justify;
  }
}

.projects-sec{
  display: flex;
  align-items: center;

  .project {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
    width:80%;
  
    .details {
      height: auto;
      // width: 40%; 
    }
  
    .project-head {
      font-size: 28px;
      font-weight: 700;
      text-align: start;
      margin: 8px;
    }
  
    .project-text {
      text-align: start;
      margin: 8px;
      font-size: 18px;
      font-weight: 400;
    }
  
    img {
      width: 30rem;
      height: 18rem;
      box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.253);
      margin-top: 25px;
      border-radius: 8px;
    }
  }
}



.contact {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 60px 10px;
  border-top: 15px solid #112D4E;
  border-radius: 15px;
  margin: 50px auto 60px;

  > input {
    height: 50px;
    margin: 10px 35px 35px;
    font-size: 18px;
    // width: auto;
    width: auto;
    min-width: 60%;
    border: none;
    color: black;
    padding: 0 15px;
    border-radius: 8px;
  }

  textarea{
    height: 50px;
    margin: 10px 35px 45px;
    font-size: 18px;
    width: auto;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 0 15px;

  }

  > button {
    display: block;
    margin: 0 auto;
  }
}

footer {
  // display: flex;
  min-height: 40vh;
  height: auto;
  background-color: black;
  color: white;
  width: 100% !important;


  .con1,
  .con2 {
    width: auto;
    min-width: 45%;
    padding: 5rem 4rem;

    .heading {
      font-size: 24px;
      text-align: start;
      margin-bottom: 0;
    }
  }

  .con2 {
    display: flex;
    justify-content: flex-end;

 

    .bg-1-social {
      position: relative;
      top: 10%;
      left: 0;
      background: black;
      box-shadow: rgba(119, 119, 131, 0.411) 1px 1px 40px 4px;
      display: flex;
      cursor: pointer;
      border-radius: 10px;

      .social {
        margin: 0 10px;
       
        
      }

      .social {
        transform: scale(2.2);
        padding: 1rem;
        cursor: pointer;
      }
  
      > div i:hover {
        transform: scale(1.2);
        transition: all 0.2s linear;
        // box-shadow: 1px 1px 10px 0px white; 
      }
    }
  }

  .con1 .text {
    font-size: 1rem;
    text-align: start;
    line-height: 2;
    letter-spacing: 0;
  }
}

.anchor {
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .con1 .heading, .con2 .heading {
  font-size: 24px;
  text-align: start;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
}
